:root {
  --text: #fff;
  --price: #4136f1;
  --card: #111;
  --secondary: linear-gradient(to top, #8743ff, #4136f1);
  --outline: rgba(0, 0, 0, 0.322);
}

body {
  margin: 0px;
  font-family: system-ui;
  perspective: 1000px;
  transition: background 0.3s;
}